

.weather-container {
        font-size: 30px;
        text-align: center;
        font-family: cursive;
        font-style: oblique;
        color: rgb(224, 20, 99);
    }

.weather {
    font-size: 60px;
    margin: 0;
    font-family: "Palatino Linotype";
    color: darkorange;
}

.temp {
    font-size: 60px;
    margin : 0;
    font-weight: bold;
    font-family: "chiller";
    color:red;
}